---
import '../styles/global.css';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE } from '../consts';

const { subtitle, description } = Astro.props;
const title = `${subtitle} | ${SITE_TITLE}`;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="bg-gray-50 text-gray-800 flex flex-col min-h-screen dark-mode-support">
    <Header />
    <main>
      <slot />
    </main>

    <Footer />
  </body>
</html>
